$mediaMaxWidth: 1920px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;
$mediaMaxHeight: 1080px;

$text__font: Raleway;


.container {
    display: grid; 
    grid-template-columns: 1; 
    grid-template-rows: 20% 20% 20% 20% 20%; 
    gap: 0px 0px; 
   
    
  }

.header {
    grid-row-start: 1;
  
    background-color: #87de87;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header__logo {
    background-color: #ffff;
    font-family: $text__font;
}
.logo {
}

.header__nav {
    font-family: $text__font;

}

.section {
    grid-column-start: 1;

    font-family: $text__font;
    padding: 1;
    margin: 1;
}

.section__card {
    grid-row-start: 2;
}
.section__details {
    grid-row-start: 3;
}
.section__newsletter {
    grid-row-start: 4;
}
.footer {
    grid-row-start: 5;
}
.card__title {
 
}
.title__background__image {
    position: absolute;
    z-index: -1;
}
